{{ dump(library) }}
{% set library = 'charts_' ~ library ~ '/' ~ library %}
{{ dump(library) }}
{{ attach_library("#{ library }") }}
{{ dump() }}
<div {{ attributes }} {{ content_attributes }} style="width:100%;height:400px"></div>
